#MLProperties: name (type:default) min:max -- information
#MLProp : wrongPlace (int:1,>=1.0) -- You're looking in the wrong place for the mod's properties file. Check /mods/portalgun/ for mod_PortalGun.properties
#
#Sun Aug 12 16:04:06 EDT 2012
wrongPlace=1
